.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 346px;

  .form__login-header {
    margin-bottom: 40px;
  }

  button {
    margin-top: 40px;
  }
}
