@import "src/assets/styles/colors";

.password-info-container {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 12px;
  gap: 8px;
  width: 520px;
  background-color: $light-gray;
  margin-top: 16px;
  margin-bottom: 24px;
}
