@import "src/assets/styles/colors";

.event-container__images {
  margin-right: 0;
  position: relative;
}

.event-container__slider-header {
  margin-bottom: 32px;
}

.react-multi-carousel-dot-list {
  gap: 12px;
  bottom: -32px;
  left: 0;
  width: 100%;
}

.custom-dot {
  display: block;
  width: 32px;
  height: 4px;
  background: $gray;

  &.active {
    background: $main-colors-accent;
  }
}
