@import "src/assets/styles/colors";

.entered-user-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 37px;
  margin-left: 60px;

  button {
    width: 90px;
    padding: 19px 32px;
  }
}

.user-icon-container {
  border-radius: 50%;
  background-color: $gray;
  height: 80px;
  width: 80px;
  padding-top: 7.273px;
  background-image: url("/head1(1).png");
  background-position-y: bottom;
  background-repeat: no-repeat;
  cursor: pointer;
}
