@import "src/assets/styles/colors";

.entered-user-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 37px;
  margin-left: 60px;

  button {
    width: 90px;
    padding: 19px 32px;

    &:hover,
    &:focus,
    &:active {
      img {
        filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(77deg) brightness(103%) contrast(108%);
      }
    }
  }
}

.user-icon-container {
  border-radius: 50%;
  background-color: $gray;
  height: 80px;
  width: 80px;
  padding-top: 7.273px;
  background-image: url("/head1(1).png");
  background-position-y: bottom;
  background-repeat: no-repeat;
  cursor: pointer;
}
