@import "src/assets/styles/colors";

.rbc-row-segment {
  margin-top: -8px;
  padding: 0;
}

.rbc-event {
  width: fit-content;
  max-width: calc(100% - 20px);
  margin-right: 12px;
  margin-left: auto;
  background: $gray;
  border-radius: 8px;
  padding: 0;

    margin-bottom: 12px;
}

.rbc-event-content {
  padding: 2px 6px;

  .event-content__title {
    font-family: 'TT Commons', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 28px */
    letter-spacing: -0.4px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: $main-colors-black;
  }
}
