@import "src/assets/styles/colors";

.rbc-row-segment {
  margin-top: -8px;
  padding: 0;
}

.rbc-event {
  width: fit-content;
  max-width: calc(100% - 20px);
  margin-right: 12px;
  margin-left: auto;
  background: $gray;
  border-radius: 8px;
  padding: 0;
  margin-bottom: 12px;

  &.rbc-selected {
    background: $gray;
  }
}

.rbc-event-content {
  padding: 2px 6px;
  display: flex !important;
  align-items: center;
  gap: 4px;

  .circle {
    background: $main-colors-accent;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    gap: 4px;
  }

  .event-content__title {
    font-family: 'TT Commons', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.4px;
    border: none !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $main-colors-black;
    margin: 0;
    padding: 0;

    &.expired {
      color: $dark-gray;
    }
  }
}
