@import "src/assets/styles/colors";

.new-event {
  padding: 64px 80px;
  min-width: 1076px;
  max-width: 1076px;
  max-height: 907px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 64px;

  .new-event__form {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 22px;
    grid-row-gap: 32px;

    .active {
      border-color: $main-colors-black;
    }

    .input-wrapper {
      max-width: unset;
      border-color: $dark-gray;
    }

    .left {
      grid-column: 1 / 6;
    }

    .right {
      width: 100%;
      grid-column: 6 / 9;
    }

    .description {
      height: 100%;
      grid-row: 2 / 4;
    }
  }

  .new-event__date-container {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 100%;
    position: relative;

    & > *:first-child {
      margin-right: 8px;
    }

    .react-datepicker-wrapper {
      min-width: calc(50% - 4px);
      max-width: calc(50% - 4px);
    }

    svg {
      padding: 0;
    }

    input {
      width: 100%;
      padding: 0;
    }
  }

  .creator {
    display: flex;
    align-items: center;
    gap: 12px;

    p {
      font-family: 'TT Commons', serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 18px */
      letter-spacing: -0.36px;
    }

    .user-icon-container {
      border: none;
      width: 40px;
      height: 40px;
      background-size: contain;
      background-position: bottom;
      padding: 0;
    }
  }

  .btn {
    width: fit-content;
  }
}
