@import "src/assets/styles/colors";

.input-wrapper {
  width: 100%;
  max-width: 350px;
  position: relative;
}

.input {
  width: 100%;
  padding: 18px 16px;
  border: 1px solid $main-colors-black;
  border-radius: 12px;

  &.error {
    border-color: $main-colors-accent;
  }

  &.valid {
    border-color: $green;
  }
}

.input-error {
  position: absolute;
  transform: translateY(4px);
  color: $main-colors-accent;
}
