@import "src/assets/styles/colors";

.input-wrapper {
  width: 100%;
  max-width: 346px;
  position: relative;
}

.input {
  width: 100%;
  padding: 18px 16px;
  border: 1px solid $main-colors-black;
  border-radius: 12px;
}
