@import "src/assets/styles/colors";

.rbc-month-view {
  border: none;

  * {
    border-color: $gray !important;
  }

  .rbc-header {
    border-left: none;
    border-bottom: none;
    margin-bottom: 16px;
    font-size: 24px;
    font-style: normal;
    line-height: 100%; /* 24px */
    letter-spacing: -0.48px;
    display: flex;
    justify-content: end;

    .columnheader {
      margin-left: auto;
    }
  }

  .rbc-month-header + .rbc-month-row {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-top: 1px solid;
  }

  .rbc-month-row {
    border-inline: 1px solid;

    &:last-child {
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      border-bottom: 1px solid;
    }

    .rbc-row-bg + .rbc-day-bg {
      border: none;
    }
  }

  .rbc-today {
    background: transparent;
  }

  .rbc-off-range {
    color: $out-of-range-text-color;
  }

  .rbc-show-more {
    margin-left: auto;
    margin-right: 12px;
    color: $main-colors-accent;
  }
}

.rbc-off-range-bg {
  background: transparent;
  border: none;
}

.rbc-date-cell {
  padding: 12px;
  font-family: 'TT Commons', serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%; /* 28px */
  letter-spacing: -0.4px;
}
