$main-colors-accent: #F51B1B;
$main-colors-white: #FFFFFF;
$main-colors-black: #0D0C0C;
$green: #23AE00;
$gray: #EFEFEF;
$dark-gray: #B3B3BC;
$light-gray: #FAFAFA;
$out-of-range-text-color: #A4A4A4;
$purple: #6C27A3;
$pink: #EFDAFC;
