@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "src/assets/fonts/TT_Commons/stylesheet.css";

@import "reset";

@import "colors";

* {
  box-sizing: border-box;
  font-family: 'Roboto', monospace;
  color: $main-colors-black;
}

body {
  padding-top: 2rem;
  padding-bottom: 64px;
  padding-inline: 60px;
}

span.red {
  color: $main-colors-accent;
}

.small {
  font-family: 'TT Commons', serif;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.28px;
}

.h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -2.56px;
}

.h2 {
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.72px;
}

.h3 {
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.52px;
}

.bold {
  font-weight: bold;
}
